*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ddf8e0;
}

.display-grid {
    display: grid;
    grid-template-areas: "contato contato contato";
    gap: 15px;
    justify-items: center;
    align-items: center;
}
.contato {
    background-color: #A3D9A5;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #dee2e6;
}
.contato:hover {
    background-color: #b3cfb8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.contato a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333333;
    text-decoration: none;
    font-weight: 500;
}
.contato a:hover {
    color: #007bff;
}
.contato a i {
    font-size: 1.2em;
}

.contact-info h1 {
    margin-bottom: 20px;
    font-size: 4em;
    color: #1b5735;
    font-weight: 800;
}
.contact-info p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #666666;
}
.contact-info a {
    color: black;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}

@media (min-width: 0) and (max-width: 600px) {
    .contact-info {
        width: 98%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
    }
    .display-grid {
        grid-template-areas:
            "contato"
            "contato"
            "contato";
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #ddf8e0;
    text-align: center;
    width: 95%;
    justify-self: center;
    border-radius: 30px;
}
