
\*{
    margin: 0;
    padding: 0;
}

/* Base.html */
header{
    background-color: #A3D9A5;
    padding: 10px 0;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    padding: 0.1rem;
    margin-bottom: 2rem;
}
h1{
    color: #1b5735;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #1b5735;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    background-color: #F0F8FF;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #2E8B57;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}


/* Index.html */

section {
    padding: 20px;
    text-align: center;
    background-color: #ddf8e0;
    margin: 0px 2rem 0px 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

h2 {
    color: #2E8B57;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-top: 1rem;
}

a{
    color: #2E8B57;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
}

/*  simulador.html  */
form {
    background-color: #bdfabd;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0px 2rem 2rem 2rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2E8B57;
}

select{
    width: 100%;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
}

option{
    padding: 0.8rem;
    font-size: 0.8rem;
    background-color: rgb(179, 177, 177);
}

input[type="number"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

input[type="submit"] {
    background-color: #2E8B57;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #246b45;
}

/* contato.html */