{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="contact-info">
            <h2>Informações de Contato</h2>
            <div class="display-grid">
                <p class="contato"><a href="https://github.com/francisco-josetti"><i class="bi bi-github"></i>Francisco Josetti</a></p>
                <p class="contato"><a href="https://github.com/Enzuuuuu"><i class="bi bi-github"></i>Enzo Wanderley</a></p>
                <p class="contato"><a href="https://github.com/Lucas-Vinicius-dev"><i class="bi bi-github"></i>Lucas Vinicius</a></p>
                <p class="contato"><a href="https://github.com/mattheuspaivadini"><i class="bi bi-github"></i>  Matheus Paiva</a></p>
                <p class="contato"><a href="https://github.com/gabrielcarvvlho"><i class="bi bi-github"></i>  Gabriel Carvalho</a></p>
            </div>
        </div>
    </div>
{% endblock %}