{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <div class="contact-info">
            <h1>Entre em Contato</h1>
            <p>Conheça nossa equipe e fale conosco!</p>
            <div class="display-grid">
                <div class="contato">
                    <a href="https://github.com/francisco-josetti" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                        <span>Francisco Josetti</span>
                    </a>
                </div>
                <div class="contato">
                    <a href="https://github.com/Enzuuuuu" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                        <span>Enzo Wanderley</span>
                    </a>
                </div>
                <div class="contato">
                    <a href="https://github.com/Lucas-Vinicius-dev" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                        <span>Lucas Vinicius</span>
                    </a>
                </div>
                <div class="contato">
                    <a href="https://github.com/mattheuspaivadini" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                        <span>Matheus de Paiva</span>
                    </a>
                </div>
                <div class="contato">
                    <a href="https://github.com/gabrielcarvvlho" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                        <span>Gabriel Carvalho</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}