<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/static/css/contatos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="main-container">
        <div class="contact-info">
            <h2>Informações de Contato</h2>
            <div class="display-grid">
                <p class="contato"><a href="https://github.com/francisco-josetti"><i class="bi bi-github"></i>Francisco Josetti</a></p>
                <p class="contato"><a href="https://github.com/Enzuuuuu"><i class="bi bi-github"></i>Enzo Wanderley</a></p>
                <p class="contato"><a href="https://github.com/Lucas-Vinicius-dev"><i class="bi bi-github"></i>Lucas Vinicius</a></p>
                <p class="contato"><a href="https://github.com/mattheuspaivadini"><i class="bi bi-github"></i>  Matheus Paiva</a></p>
                <p class="contato"><a href="https://github.com/gabrielcarvvlho"><i class="bi bi-github"></i>  Gabriel Carvalho</a></p>
            </div>
        </div>
    </div>
</body>
</html>