{% extends "base.html" %}

{% block content %}
<main>
    <section class="inicio">
        <h2>Bem-vindo ao Recicle-me!</h2>
        <p>Junte-se a nós na missão de promover a reciclagem e a sustentabilidade ambiental.</p>
        <p>Simule e entenda o real impacto da reciclagem para o meio ambiente.</p>
    </section>
    <section class="dicas">
        <h2>Dicas de Reciclagem em Casa</h2>
        <p>Descubra maneiras simples de melhorar suas práticas de reciclagem no dia a dia.</p>
        <ul>
            <li>Separe os materiais recicláveis corretamente.</li>
            <li>Lave os recipientes antes de descartá-los.</li>
            <li>Reduza o uso de plásticos descartáveis.</li>
            <li>Composte resíduos orgânicos.</li>
        </ul>
        <p class="link-c">Veja o <a href="/simulador" class="link-c">simulador de impacto ambiental</a>.</p>
    </section>
    <section>
        <h2>Onde Reciclar?</h2>
        <p>Encontre pontos de coleta seletiva próximos a você e contribua para um planeta mais verde.</p>
        <a class="link-c" href="http://antigo.joaopessoa.pb.gov.br/secretarias/emlur/pontos-de-coleta-de-lixo-eletronico-e-reciclavel/">Pontos de coleta em João Pessoa</a>
        <p>Para mais informações, consulte o site oficial da prefeitura.</p>
        <a class="link-c" href="/contatos">Nossos contatos</a>
    </section>
</main>
{% endblock %}